@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./_nav";
@import "./_code";
@import "./_markdown";

/* Heading permalinks */
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink,
.heading-permalink:focus {
    opacity: 1;
}

.heading-permalink {
    opacity: 0;
    transform: translate(-100%);
    position: absolute;
    padding-right: 10px;
    text-decoration: none;
}

/* Red heading numerals */
h1 em {
    @apply text-blue-600;
    font-weight: inherit;
}
